<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Snapnet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/root.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> 
</head>
<body id="snapnet">

    {{{body}}}

    <script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>