<div class="snap-container">
	<div id="ImageComponent">
		{{#each urls}}
			<div class="snap-image snap-image{{@index}}">
				<img src="{{this}}">
			</div>
		{{/each}}
		<div id="Pagination">
		{{#each pages}}
			<div class="number">
				<a href="{{this}}">{{@index}}</a>
			</div>
		{{/each}}
		</div>
	</div>
	<div id="OverlayComponent">
		<span class="overlay-close">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/VisualEditor_-_Icon_-_Close_-_white.svg/2000px-VisualEditor_-_Icon_-_Close_-_white.svg.png"/>
		</span>
	</div>
</div>