body#snapnet {
  background: #000000; }
  body#snapnet #OverlayComponent {
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto; }
    body#snapnet #OverlayComponent img {
      max-width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto; }
    body#snapnet #OverlayComponent.in {
      transition: opacity 0.325s ease;
      opacity: 1;
      z-index: 1; }
    body#snapnet #OverlayComponent span.overlay-close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: #ffffff;
      width: 1.75rem;
      height: 1.75rem;
      cursor: pointer;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 3px; }
      body#snapnet #OverlayComponent span.overlay-close img {
        width: 100%; }
  body#snapnet #ImageComponent {
    text-align: center;
    padding-bottom: 7rem;
    margin: 0 auto;
    padding-top: 1rem; }
    body#snapnet #ImageComponent .snap-image {
      opacity: 0;
      cursor: pointer;
      display: -webkit-inline-box;
      box-sizing: border-box;
      margin: 1rem;
      width: auto;
      max-width: 200px;
      text-align: center;
      transition: opacity 0.325s ease;
      margin-bottom: 1rem; }
      body#snapnet #ImageComponent .snap-image img {
        width: 100%; }
      body#snapnet #ImageComponent .snap-image.in {
        opacity: 1; }
      body#snapnet #ImageComponent .snap-image.in:hover {
        opacity: 0.675; }
    body#snapnet #ImageComponent #Pagination {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      text-align: center;
      width: 100%; }
      body#snapnet #ImageComponent #Pagination .number {
        display: inline-block; }
        body#snapnet #ImageComponent #Pagination .number a {
          border: solid 2px #ffffff;
          transition: all 0.25s ease;
          cursor: pointer;
          color: #ffffff;
          font-size: 1.5rem;
          text-decoration: none;
          font-family: Helvetica;
          display: block;
          padding: 1rem;
          background: rgba(0, 0, 0, 0.71);
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          margin-right: 0.25rem;
          margin-left: 0.25rem;
          border-radius: 3px; }
          body#snapnet #ImageComponent #Pagination .number a:hover {
            border-radius: 10px;
            background: black; }
